@model IEnumerable<AddressBook.Models.Category>

@{
    ViewData["Title"] = "Manage Categories";
}


<div class="container px-4 px-lg-5">
    <div class="row row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8">

            <h1>@ViewBag.Title</h1>


            <p>
                <a asp-action="Create">Create New</a>
            </p>

            <table class="table glass-cf-style darkGlass p-2">
                <thead>
                    <tr>
                        <th>
                            <h3 class="fw-bold">@Html.DisplayNameFor(model => model.Name)</h3>
                        </th>
                        <th>
                            <h3 class="fw-bold">Actions</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h4 class="fw-bold"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></h4>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit Category"><i class="bi bi-pencil text-white"></i></a> |
                                <a asp-action="EmailCategory" asp-route-id="@item.Id" title="Send Group Email"><i class="bi bi-envelope text-white"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete Category"><i class="bi bi-trash text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
